.favourites_Display{
    margin-top: 100px;
    display: block;
    margin-top: 100px;
    margin-left: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}

.poster{
    max-width: 500px;
}



.movie_poster{
    margin-right: 30px;
    display: flex;
}

.details {
    max-height: 300px;
}