.review-boxes{
    width: 70%;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    float: right;
}

.rating {
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 100px;
    text-align: center;
}

.author-detail{
    width: 100px;
}