*{
    background-color: black;
    color: lightgray;
    text-shadow: 0 0 10px limegreen;
}

.movie_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-top: 80px;
    background-color: black;
    color: white;
  }
  
  .movie_img {
    width: 85%;
    height: auto;
    box-shadow: 0 0 10px white;
  }
  
  .movie_description {
    width: 60%;
    text-align: center;
  }
  
  .movie_description h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px lightblue;
  }
  
  .movie_description h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px lightblue;
  }
  
  .movie_description p {
    font-size: 18px;
    margin-bottom: 10px;
    color: lightgray;
    text-shadow: 0 0 10px limegreen;
  }
  
  .movie_description span {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .movie_description a {
    margin-right: 10px;
  }
  
  .movie_info{
    display: block;

  }


  .movie_display {
    flex-grow: 1;
  }
  

button:hover{
    background-color: limegreen;
    color: black;
}


.logo-row {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.logo-image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  animation: move-logo 5s linear infinite;
}

@keyframes move-logo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}






